@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: "Quicksand", serif;
    scroll-behavior: smooth;
}
.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
   z-index: 1;
   top: 0%;
   left: 0%;
    background-color: #C40C0C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img{
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); scale: 10%; }
    50% {scale: 100%;}
    100% { transform: rotate(360deg); scale: 10%; }
}
.hidden {
    display: none;
}
nav{
    background: #141414;
    height: 80px;
    width: 100%;
    }
    label.logo{
        color: black;
        font-size: 35px;
      
 
        font-weight: bold;
    }
    nav ul{
      float: right;
        margin-right: 20px;
        margin-top: 10px;
    }
    nav ul li{
        display: inline-block;
        line-height: 50px;
        margin: 0 5px;
    }
    nav ul li a{
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 7px 13px;
        border-radius:3px ;
    }
    nav img{
        height: 100%;
    }
    .hero-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        height: 1000px;
        background-image:  url("fresh-rice-spring-rolls-plate-dual-surface.jpg");
    }
    
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
       
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .hero-text p {
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
    padding: 10px;
        font-size: large;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .hero-text button {
        margin-top: 50px;
        font-size: large;
        border-radius: 30px;
        border: solid white 2px;
        color: white;
        background-color: transparent;
        padding: 5px 20px ;
        font-weight: 100;
    
    }
    .hero-text button:hover{
    background-color: white;
    color: black;
    transition: .5s;
    
    }
    .hero-text a{
        background-color: transparent;
    }
    .box1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .row1{
        display: flex;
        flex-direction: row;
        height: 800px;
    }
    .left{
        width: 50%;
    }
    .left .text{
        font-size: 30px;
        margin: 120px 80px;
    }
    .right{
        width: 50%;
    }
    .right img{
        width: 100%;
        height: 100%;
    }
    .row2{
        display: flex;
        flex-direction: row; 
    }
    .box2 header h1{
display: flex;
justify-content: center;
margin-top: 30px;
    }
    #gallery{
        display: flex;
        flex-direction: row;
        width: 100%;
   flex-wrap: wrap;
    }
    .content{
        background-color: white;
       
        display: flex;
        width: 25%;
        height: 600px;
        display: flex;
        flex-direction: column;
      
        box-sizing: border-box;
        float: left;
      
    }
    .heart{
        padding: 0 10px;
        margin-left: 30px;
    }
    .content a{
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
    }
 hr{
    margin: 20px 5px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }
    .content .top{
        width: 100%;
        height: 80%;
        align-items: start;
    
        overflow: hidden;
     
    }
   
    .content .icons .down img{
        width: 20px;
       display: flex;
       justify-content: center;
       cursor: pointer;
    }
    .down {
      margin: 0px 160px;
      display: flex;
     
      flex-direction: row;
    }
    .down p{
        padding-left: 5px;
    }
    .info {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .info_text {
        text-align: center;
        width: 37%;
        height: 100%;
        align-self: center;
        padding: 20px;
        font-size: 50px;
        font-weight:lighter;
        font-family: "Noto Sans JP", serif;
    }
    .character {
        width: 35%;
        height: 35%;
        padding: 0;
        background-color: #C40C0C;
        border-radius: 30px;
          
    }
    
    .character img {
        width: 100%;
    }
    footer{
      
        margin-top: 40px;
        -webkit-box-shadow: 0px -12px 40px -16px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px -12px 40px -16px rgba(66, 68, 90, 1);
box-shadow: 0px -12px 40px -16px rgba(66, 68, 90, 1);
    }
    .footer_cont{
        width: 100%;
        display: flex;
        
        justify-content: center;
        flex-direction: row;
        color: white;
        background-color: #141414;
    }
    .copy p{
        text-align: center;
        font-size: 30px;
      padding-top: 20px;
    }
    .box6{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box6 .dishimages{
        width: 50%;
      
        
    }
    #headings{
        font-size: 80px;
        text-align: left    ;
        padding: 10px;
        font-weight: bold;
    }
    .dishimages img{
width: 95%;
    }
    .dishprzepis{
        width: 50%;
        font-size: 30px;
    }
    .footer_logo{
        width: 10%;
    }
    .footer_cont img{
        width: 130px;
        height: 100px;
        justify-content: center;
       
    }
    .team p{
        text-align: center;
        font-size: 30px;
      padding-top: 20px; 
    }
    #button{
        background-color: 	#a70000;
        height: 50px;
        width: 50px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        border-radius: 50%;
       color: white;
       font-size: larger;
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #okienko .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }
    #okienko.active .overlay{
        display: block;
    }
    #okienko.active .kontencik{
        transition: all 800ms ease-in-out;
        transform: translate(-50%,-50%) scale(1);
    }
    #okienko .kontencik{
        text-align: center;
        padding: 30px;
        border-radius: 25px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        background: white;
        z-index: 2;
    }
    .downSection{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
    .downSection button{
        width: 150px;
        height: 150px;
        margin: 20px;
        border: 0;
        background-color: 	#a70000;
        color: white;
        border-radius: 15px;
        font-size: 30px;
        font-weight: bold;
        transition: .4s;
        cursor: pointer;
    }
    .downSection button:hover{
        width: 170px;
        height: 170px;
        background-color: 	#d40404;
        transition: .4s;
        border-radius: 30px;
    
    }
    #okienko #dishName{
        width: 80%;
        height: 50px;
        font-size: 30px;
        border-radius: 5px;
        margin: 10px;
    }
    #okienko #dishDesc{
        width: 80%;
        height: 100px;
        font-size: 30px;
        border-radius: 5px;
        margin: 10px;
    }
    .cardpop{
        max-width: 600px;
        height: 400px;
        display: flex;
padding: 20px;

    }
    
    .cardPop .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }
    .cardPop.active .overlay{
        display: block;
    }
    .cardPop .kontenciwo{
        display: flex;
        flex-direction: row;
border: 0;
        border-radius: 25px;
       overflow: hidden;
       position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        background: white;
        z-index: 2;
    }
    .cardPop.active .kontenciwo{
        transition: all 200ms ease-in-out;
        transform: translate(-50%,-50%) scale(1);
    }
    .lewica{
        width: 60%;
    }
    .lewica img{
        width: 100%;
height: 100%;
    }
    .prawica{
        width: 40%;
        padding: 20px;
        font-size: 20px;
        word-wrap: break-word;
    }
    .prawica h1{
        padding-bottom:30px ;
    }
    #contact{
        margin-top: 50px;
    }
    .row3{
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 200px;
        flex-wrap: wrap;
    }
     .tekscik{
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .information{
        display: flex;
        justify-content: center;
        width: 20%;
      height: 100%;
      text-align: center;
        padding: 10px;
        flex-direction: column;
    }
    .information .icon{
        display: flex;
        justify-content: center;

    }
    #placeholder{
        width: 300px;
        height: 200px;
        overflow: hidden;
    }
    #placeholder img{
        width: 100%;

    }
    #fileInput{
        display: none;
    }
    #imageLabel{
        display: block;
        background-color: 	#a70000;
        width: 200px;
        color: white;
        padding: 12px;
        margin: 10px auto;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }
    @media screen and (max-width:1000px) {
        .content {
            width: 50%;
        }
        .left .text{
            font-size: 15px;
        }
        .row1{
            height: 500px;
        }
        .row1 .right img{
            height: 500px;
        }
    }
    
    @media screen and (max-width:750px) {
        .content {
            width: 50%;
        }
        .info{
            width: 100%;
            justify-content: center;
        }
    .character{
        width: 50%;
    }
    .info_text{
      
        width: 100%;
        font-size: 40px;
        padding: 0;
    }
    }
    @media screen and (max-width: 858px) {
        
    
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 75px;
            left: -120%;
            text-align: center;
            transition: all .5s;
        }
    
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
    
        nav ul li a {
            font-size: 20px;
    
        }
    
        nav {
            position: fixed;
            top: 0;
        }
    
        a:hover,
        a.active {
            background: none;
            color: #0082e6;
        }
    
        .left .text{
            font-size: 30px;
            margin: 20px 10px;
        }
    
    }
    @media screen and (max-width: 1036px) {
        label.logo{
            font-size: 30px; 
            padding-left: 50px;
         }
         .hero-text button{
            margin-top: 150px;
        }
    }
    @media screen and (max-width: 484px) {
        label.logo{
            font-size: 30px; 
            padding-left: 50px;
         }
         .footer_cont p{
            font-size: 20px;
         }
         .footer_cont img{
            padding: 0 10px;
         }
         .left .text{
            font-size: 10px;
            margin: 20px 10px;
        }
        .row1{
            height: 300px;
        }
        .row1 .right img{
            height: 300px;
        }
        .dishimages img{
            width: 484px;
        }
    }
    @media screen and (max-width: 689px) {
        label.logo{
            font-size: 30px; 
            padding-left: 50px;
         }
         .footer_cont p{
            font-size: 20px;
         }
         .heart{
            margin-left: -100px;
         }
         .footer_cont img{
            padding: 0 10px;
         }
         .left .text{
            font-size: 30px;
            margin: 40px 30px;
        }
        .row1{
            height: 300px;
        }
        .row1 .right img{
            height: 300px;
        }
        .hero-text button{
            margin-top: 130px;
        }
        .information{
            width: 30%;
        }
        .footer_cont{
    margin-top: 300px;
        }
    }
    @media screen and (max-width: 956px) {
        label.logo{
            font-size: 30px; 
            padding-left: 40px;
         }
         .left .text{
            font-size: 20px;
            margin: 20px 10px;
        }
        .row1{
            height: 300px;
        }
        .row1 .right img{
            height: 300px;
        }
.box6{
    flex-direction: column;
}
.dishimages{
    width: 100%;
}
.dishimages img{
    width: 956px;
    
}
.dishprzepis{
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-wrap: wrap;
}
.skladniki{
    text-align: left;
}
    }
    @media screen and (max-width:320px){
        label.logo{
            font-size: 30px; 
            padding-left: 5;
            padding-right: 20px;
        }
        .hero-text{
            font-size: 20px;
        }
        .dishimages img{
            width: 320px;
            
        }
        #headings{
            font-size: 40px;
        }
    }
    @media screen and (max-width:376px){
        label.logo{
            font-size: 30px; 
            padding-left: 5;
            padding-right: 20px;
        }
        .kontencik{
            width: 100%;
            padding: 0;
        }
        .hero-text{
            font-size: 20px;
        }
        .hero-text button{
            margin-top: 100px;
        }
        .content{
            width: 100%;
        }
        .kontenciwo{
            width: 90%;
        }
        .left .text{
            font-size: 15px;
            margin: 20px 10px;
        }
        .left{
            width: 100%;
height: 300px;
        }
        .right{
            width: 100%;
     
        }
        .row1{
            flex-direction: column-reverse;
            margin-top: 60px;
        }
        .row2{
            flex-direction: column;
            
        }
        #contact{
            flex-direction: column;
        }
        .information{
            width: 100%;
        }
        .tekscik{
            justify-content: center;
            text-align: center;
        }
        .footer_cont{
            margin-top: 800px;
        }
    }
    
    